# Windows thumbnail cache files
[Tt]humbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# macOS specific files
.DS_Store
__macosx


.*
!/.gitattributes
!/.gitconfig
!/.github
!/.gitignore
!/.gitmodules
!/.bgforge.yml


# Mod Specific Files
*.iemod
*.ahk
*.rar
*.zip
*.tar*
