$RECYCLE.BIN/
__macosx
backup/
temp/
tmp/

.*
!/.gitattributes
!/.gitconfig
!/.github
!/.gitignore
!/.gitmodules
!/.bgforge.yml

*.bak
*.bat
*.iemod
*.lnk
*.rar
*.tar*
*.tmp
*.zip

[Tt]humbs.db
[Dd]esktop.ini
